<nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse">
	<div class="w-100">
		<ul class="navbar-nav mx-auto">
			<li class="nav-item">
				<a class="nav-link" href="#"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="hidden-xs-down">&nbsp;&nbsp;Dashboard</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs-down">&nbsp;&nbsp;Reservation</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link hidden-xs-down" href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;&nbsp;Le Grand Paris Monaco&nbsp;&nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i>				</a>
			</li>
		</ul>
	</div>
</nav>
