<div class="row no-gutters">
	<ul class="container-filter-date col-sm-1 col-md-1 col-lg-1 com-xl-1">
		<li>{{date}}</li>
		<li>{{day}}</li>
	</ul>
	<div class="col-sm-11 col-md-11 col-lg-11 com-xl-11">
		<button type="button" class="btn btn-primary button-date-selector"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
		<button type="button" class="btn btn-primary button-date-selector">Today</button>
		<button type="button" class="btn btn-primary button-date-selector"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
		<button type="button" class="btn btn-primary button-create-reservation">Add booking</button>
		<i class="fa fa-list fa-2x float-right" aria-hidden="true"></i>
		<i class="fa fa-star fa-2x float-right" aria-hidden="true"></i>
		<i class="fa fa-calendar fa-2x float-right" aria-hidden="true"></i>
		<i class="fa fa-comments fa-2x float-right" aria-hidden="true"></i>
	</div>
</div>

