<div class="container">
	<table class="table-timeslots">
		<tr>
			<td class="timeslot-label">&nbsp;</td>
			<td class="timeslot-label">11:00AM</td>
			<td class="timeslot-label">12:00PM</td>
			<td class="timeslot-label">01:00PM</td>
			<td class="timeslot-label">02:00PM</td>
			<td class="timeslot-label">03:00PM</td>
			<td class="timeslot-label">04:00PM</td>
			<td class="timeslot-label">05:00PM</td>
			<td class="timeslot-label">06:00PM</td>
			<td class="timeslot-label">07:00PM</td>
			<td class="timeslot-label">08:00PM</td>
			<td class="timeslot-label">09:00PM</td>
		</tr>
	</table>
	<table class="table-timeslots" [innerHtml]="reservationLocation1">
	</table>
	<table class="table-timeslots" [innerHtml]="reservationLocation2">
	</table>
	<table class="table-timeslots" [innerHtml]="reservationLocation3">
	</table>
</div>
